ul.style2 p {
    line-height: 100%;
    margin-bottom: 5px;
}

ul.style2 li {
    padding-top: 5px 0 0 0;
}

ul.style2 h3 {
    padding: 0px;
}

input.votebutton {
    background-color: #308576;
    color: white;
    border: thin solid #308576;
    padding: 0.2em;
}

div.votecount, span.votecount {
    border-radius: 1em;
    border: thin solid black;
    text-align: center;
    margin: 0;
    padding: 0.2em;
}

table.playlist td {
    max-width: 450px;
}

ul.songlist {
    list-style: none
}

ul.songlist li {
    margin: 0.2em 0;
}
