<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License

Name       : Outstretched 
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20131014

-->
{% load static from staticfiles %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="{% static "design/default.css" %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static "design/fonts.css" %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static "style.css" %}" rel="stylesheet" type="text/css" media="all" />
<!--[if IE 6]>
<link href="{% static "design/default_ie6.css" %}" rel="stylesheet" type="text/css" />
<![endif]-->
</head>
<body>
<div id="wrapper">
	<div id="header-wrapper">
		<div id="header" class="container">
			<div id="logo">
				<h1><a href="#">MPD Song Vote</a></h1>
				<p>Vote for your favourite songs and help to create a great playlist</p>
			</div>
		</div>
		<div id="menu" class="container">
			<ul>
                <li class="{% if page == "playlist" %}current_page_item{% endif %}">
                    <a href="{% url 'playlist' %}" accesskey="1" title="">Current Playlist</a>
                    </li>
                <li class="{% if page == "artists" %}current_page_item{% endif %}">
                <a href="{% url 'artists' %}" accesskey="1" title="">Artists</a>
                </li>
                <li class="{% if page == "album_songs" %}current_page_item{% endif %}">
                <a href="{% url 'albums' %}" accesskey="2" title="">Albums</a>
                </li>
                {% if artist and album %}
                <li>
                <a href="{% url 'artist_albums' artist %}" accesskey="3" title="">Albums with {{ artist }}</a>
                </li>
                {% endif %}
			</ul>
		</div>
	</div>
	<div id="page" class="container">
		<div id="sidebar1">
			<div id="box1">
				<h2>Recently played</h2>
				<ul class="style1">
                    {% for rp in recently_played %}
                    <li class="{% if forloop.first %}first{% endif %}" title="{{ rp.date }}">
                        {{ rp.artist }} - {{ rp.title }}
                        <p style="margin: 0;height: 0.5em" />
                        {% with buttontext="request again" filename=rp.filename votes=rp.votes %}
                            {% include "snippets/requestbutton.html" %}
                        {% endwith %}
                    </li>
                    {% endfor %}
				</ul>
				<a href="#" class="button">more</a> </div>
		</div>
		<div id="content">
            {% if messages %}
            <ul style="border: 3px solid #308576;padding: 0.5em;list-style: none">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        {% block content %}
        {% endblock %}
		</div>
		<div id="sidebar2">
            {% if recently_requested %}
            <div>
            <h2>Recently requested</h2>
            <ul class="style1">
                {% for rp in recently_requested %}
                <li class="{% if forloop.first %}first{% endif %}" title="{{ rp.date }}">
                    {{ rp.artist }} - {{ rp.title }}
                    <p style="margin: 0;height: 0.5em" />
                    {% with buttontext="request" filename=rp.filename votes=rp.votes %}
                        {% include "snippets/requestbutton.html" %}
                    {% endwith %}
                </li>
                {% endfor %}
            </ul>
            <!-- <a href="#" class="button">more</a> -->
            </div>
            {% endif %}
            {% if most_wanted %}
            <p />
            <div>
            <h2>Currently most wanted</h2>
            <ul class="style1">
                {% for rp in most_wanted %}
                <li class="{% if forloop.first %}first{% endif %}" title="{{ rp.date }}">
                    {{ rp.artist }} - {{ rp.title }}
                    <p style="margin: 0;height: 0.5em" />
                    {% with buttontext="request" filename=rp.filename votes=rp.votes %}
                        {% include "snippets/requestbutton.html" %}
                    {% endwith %}
                </li>
                {% endfor %}
                <!--<a href="#" class="button">more</a> -->
            </div>
            {% endif %}
		</div>
	</div>
</div>
<div id="footer">
	<p>MPDSongVote. All rights reserved. Design by <a href="http://templated.co" rel="nofollow">TEMPLATED</a>.</p>
</div>
</body>
</html>

