{% extends "base.html" %}
{% block content %}
<h2>Playlist</h2>
<table class="playlist">
{% for song in playlist %}
    <tr>
        <td style="text-align: right;padding-right: 0.5em">{{ song.pos|add:1 }}:</td>
        <td style="{% if song.id == current_songid %}font-weight: bold{% endif %}">
            {{ song.artist }} - {{ song.title }}
        </td>
        <td style="padding: 0">
            <div class="votecount">{{ song.votes }}</div>
        </td>
        <td>
            <form action="{% url 'playlist_vote_up' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="filename" value="{{ song.file }}" />
                <input type="submit" value="⇧" class="votebutton" />
            </form>
        </td>
        <td>
            <form action="{% url 'playlist_vote_down' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="filename" value="{{ song.file }}" />
                <input type="submit" value="⇩" class="votebutton" />
            </form>
        </td>
    </tr>
{% endfor %}
</table>
{% endblock %}
