{% extends "base.html" %}
{% block content %}
<h2>Playlist</h2>
<table>
{% for song in playlist %}
    <tr>
        <td style="text-align: right">{{ song.pos }}:</td>
        <td style="{% if song.id == current_songid %}font-weight: bold{% endif %}">
            {{ song.artist }} - {{ song.title }}
        </td>
        <td style="padding: 0">
            <div style="border: thin solid black;padding: 3px;margin: 0;">{{ song.votes }}</div>
        </td>
        <td><a href="{% url 'playlist_vote_up' quoted_filename=song.quoted_filename %}">⇧</a></td>
        <td><a href="{% url 'playlist_vote_down' quoted_filename=song.quoted_filename %}">⇩</a></td>
    </tr>
{% endfor %}
</table>
{% endblock %}
